.images {
  display: none;

  @include breakpoint(768px) {
    margin-top: 5rem;
    display: block;
    width: 100%;
    max-width: 500px;

    &__main {
      width: 100%;
      border-radius: 1rem;

      &:hover {
        cursor: pointer;
      }
    }

    &__thumbs-container {
      margin-top: 2rem;
      display: flex;
      justify-content: space-between;

      img {
        width: 100%;
        border-radius: 0.5rem;
        &:hover {
          cursor: pointer;
          opacity: 0.5;
        }
      }
    }

    &__thumb-hover {
      width: 20%;
      max-width: 100px;
      aspect-ratio: 1 / 1;
      display: grid;
      background-color: white;
      border-radius: 0.5rem;

      &[data-activethumb="true"] {
        border: 2px solid $orange;

        img {
          opacity: 0.2;
        }
      }
    }
  }

  @include breakpoint(1024px) {
    width: 45%;
    margin-top: unset;
  }
}
