.images {
  display: none;

  @include breakpoint(768px) {
    margin-top: 5rem;
    display: block;
    width: 100%;
    max-width: 500px;

    &__main {
      width: 100%;
      border-radius: 1rem;

      &:hover {
        cursor: pointer;
      }
    }

    &__thumb-container {
      margin-top: 1.5rem;
      display: flex;
      justify-content: space-between;
    }

    &__thumb {
      width: 20%;
      aspect-ratio: 1 / 1;
      border-radius: 0.5rem;

      &[data-thumbactive="true"] {
        opacity: 0.3;
        border: 2px solid $orange;
      }

      &:hover {
        cursor: pointer;
        opacity: 0.5;
        border: 2px solid $orange;
      }
    }
  }

  @include breakpoint(1024px) {
    width: 45%;
    margin-top: unset;
  }
}
