.product {
  padding-bottom: 5rem;
  @extend %flex-center;
  flex-direction: column;

  &__text {
    max-width: 500px;
  }

  @include breakpoint(1024px) {
    display: flex;
    align-items: center;

    &__text {
      width: 50%;
    }
  }
}
