<div class="description">
  <h2>Sneaker Company</h2>
  <h1>Fall Limited Edition Sneakers</h1>
  <p class="description__para">
    These low-profile sneakers are your perfect casual wear companion. Featuring
    a durable rubber outer sole, they'll withstand everything the weather can
    offer.
  </p>
  <div class="description__price-container">
    <p class="description__price">$125.00</p>
    <p class="description__discount">50%</p>
    <p class="description__price-old">$250.00</p>
  </div>
</div>
