<header class="header">
  <div class="header__content content">
    <div class="header__left">
      <button class="header__nav-btn">
        <img src="../images/icon-menu.svg" alt="Hamburger menu icon" />
      </button>
      <img src="../images/logo.svg" class="header__logo" alt="Company Logo" />
      <nav class="nav">
        <button class="nav__close-btn">
          <img src="../images/icon-close.svg" alt="close icon" />
        </button>
        <ul>
          <li><a href="#">Collections</a></li>
          <li><a href="#">Men</a></li>
          <li><a href="#">Women</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
    </div>
    <div class="header__right">
      <button class="header__cartBtn">
        <img src="../images/icon-cart.svg" alt="Cart icon" />
      </button>
      <button class="header__profileBtn">
        <img src="../images/image-avatar.png" alt="Profile image" />
      </button>
    </div>
  </div>
</header>
