<div class="images">
  <img
    class="images__main"
    src="../images/image-product-1.jpg"
    alt="Product Image"
  />
  <div class="images__thumbs-container">
    <div class="images__thumb-hover" data-activethumb="true">
      <img
        src="../images/image-product-1-thumbnail.jpg"
        alt="Product Thumbnail"
        class="images__thumb"
        data-productimg="1"
      />
    </div>
    <div class="images__thumb-hover">
      <img
        src="../images/image-product-2-thumbnail.jpg"
        alt="Product Thumbnail"
        class="images__thumb"
        data-productimg="2"
      />
    </div>
    <div class="images__thumb-hover">
      <img
        src="../images/image-product-3-thumbnail.jpg"
        alt="Product Thumbnail"
        class="images__thumb"
        data-productimg="3"
      />
    </div>
    <div class="images__thumb-hover">
      <img
        src="../images/image-product-4-thumbnail.jpg"
        alt="Product Thumbnail"
        class="images__thumb"
        data-productimg="4"
      />
    </div>
  </div>
</div>
