<div class="images">
  <img
    class="images__main"
    src="../images/image-product-1.jpg"
    alt="Product Image"
  />
  <div class="images__thumb-container">
    <img
      src="../images/image-product-1-thumbnail.jpg"
      alt="Product Thumbnail"
      class="images__thumb"
    />
    <img
      src="../images/image-product-2-thumbnail.jpg"
      alt="Product Thumbnail"
      class="images__thumb"
    />
    <img
      src="../images/image-product-3-thumbnail.jpg"
      alt="Product Thumbnail"
      class="images__thumb"
    />
    <img
      src="../images/image-product-4-thumbnail.jpg"
      alt="Product Thumbnail"
      class="images__thumb"
    />
  </div>
</div>
