<div class="slider">
  <div class="slider__controls">
    <button class="slider__close-overlay">
      <svg
        width="14"
        height="15"
        viewBox="0 0 14 15"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="m11.596.782 2.122 2.122L9.12 7.499l4.597 4.597-2.122 2.122L7 9.62l-4.595 4.597-2.122-2.122L4.878 7.5.282 2.904 2.404.782l4.595 4.596L11.596.782Z"
          fill="#69707D"
          fill-rule="evenodd"
        />
      </svg>
    </button>

    <div class="slider__vb">
      <button class="slider__nav slider__prev" data-control="previous">
        <svg width="12" height="18" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M11 1 3 9l8 8"
            stroke="#1D2026"
            stroke-width="3"
            fill="none"
            fill-rule="evenodd"
          />
        </svg>
      </button>
      <button class="slider__nav slider__next" data-control="next">
        <svg width="13" height="18" xmlns="http://www.w3.org/2000/svg">
          <path
            d="m2 1 8 8-8 8"
            stroke="#1D2026"
            stroke-width="3"
            fill="none"
            fill-rule="evenodd"
          />
        </svg>
      </button>
      <div
        class="slider__img-container"
        data-counter="0"
        style="transform: translateX(0%)"
      >
        <img
          class="slider__img"
          src="../images/image-product-1.jpg"
          alt="Product Image"
        />
        <img
          class="slider__img"
          src="../images/image-product-2.jpg"
          alt="Product Image"
        />
        <img
          class="slider__img"
          src="../images/image-product-3.jpg"
          alt="Product Image"
        />
        <img
          class="slider__img"
          src="../images/image-product-4.jpg"
          alt="Product Image"
        />
      </div>
    </div>
    <div class="slider__thumbs-container">
      <div class="slider__thumb-hover" data-activethumb="true">
        <img
          src="../images/image-product-1-thumbnail.jpg"
          alt="Product Thumb"
          data-thumbid="0"
        />
      </div>
      <div class="slider__thumb-hover">
        <img
          src="../images/image-product-2-thumbnail.jpg"
          alt="Product Thumb"
          data-thumbid="1"
        />
      </div>

      <div class="slider__thumb-hover">
        <img
          src="../images/image-product-3-thumbnail.jpg"
          alt="Product Thumb"
          data-thumbid="2"
        />
      </div>

      <div class="slider__thumb-hover">
        <img
          src="../images/image-product-4-thumbnail.jpg"
          alt="Product Thumb"
          data-thumbid="3"
        />
      </div>
    </div>
  </div>
</div>
